input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance: none;-moz-appearance: none;appearance: none}
.input {
  border: 1px solid #000;
  height: 50px;
  border-radius: 0 !important;
  margin: 0 0 20px 0;
  width: 100%;
  display: block;
  padding: 0 20px;
  background-color: white;
  &.focus {}
  &.err {}
}
textarea.input{
  resize: none;
  padding: 0 0;
}




