// Миксины==================================================================================
@mixin flex() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
// Файл обнуляющих стилей===================================================================
@import "input";
@import "ibg.scss";
// Шрифты===================================================================================

// Шрифт по умолчанию=======================================================================
body{}
// Переменные===============================================================================
$minwidth:320;
$mw:1110;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
// Переменные===============================================================================
// Оболочка=================================================================================
.wrapper {width: 100%;min-height: 100%;overflow: hidden;
  @include flex();
  flex-direction: column;
}
// Оболочка=================================================================================
// Основная сетка===========================================================================
.container {max-width: $mw; margin: 0 auto; width: 100%;}
  @media (max-width: $md1) { .container {max-width: 970px;} }
  @media (max-width: $md2) { .container{max-width: 750px;} }
  @media (max-width: $md3) { .container{max-width: none;} }
// Основная сетка===========================================================================






